body{
    font-family: poppins, sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
.threedot{
    display: none;
}
.cart{
    display: none;
}
ul{
    display: flex;
    list-style: none;
    gap: 34px;
    align-items: center;
}

nav h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: #3A3A3A;
}

ul li{
    font-weight: 600;
    cursor: pointer;
}

ul li:hover{
    color: #E02C6D;
    transition: 0.3s;
}

.hero-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 155px;
    margin-bottom: 170px;
 /* border: 3px solid rgb(233, 11, 11); */

}

.hero-image{
    position: relative;
    display: flex;
    margin-right: 165px;
    margin-top: 50px;
}

.image1{
    width: 100%;
    height: auto;
}

.image2{
    position: absolute;
    padding: 10px;
}

.hero-contents h1{
    font-size: 3.25rem;
    color: #3A3A3A;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 16px;
}

.hero-contents p{
    color: #3A3A3A;
    width: 525px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding: 10px 30px 10px 24px;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
    padding: 50px;
    gap: 80px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 100px;
}

/* responsive */
@media (max-width: 576px) {

    .hero-container{
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .hero-image{
        flex-direction: column;
        margin: 0 auto;

        max-width: 257px;
    }
    .hero-contents{
        max-width: 404px;
    }

    .threedot{
        display: flex;
    }
    .cart{
        display: flex;
    }
    .image2{
        position: relative;
        padding: 5px;
        margin-top: -250px;
    }

    .hero-btn{
        display: flex;
        margin: 0 auto;

    }
    .hero-contents h1{
        font-size: 1.75rem;
        text-align: center;
        line-height: 40px;
    }

    .hero-contents p{
        width: 100%;
        text-align: center;
    }
    .nav-links{
        display: none;
    }

.sponsors {
        display: flex;
        flex-wrap: wrap;         
        gap: 30px 40px;          
        padding: 40px 20px;
        border: none;
        box-shadow: none;
        margin-bottom: 50px;
    }

    .sponsors img {
        max-width: 55px;            
    }
}


 