body{
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}
.threedot{
    display: none;
}
.cart{
    display: none;
}
ul{
    display: flex;
    list-style: none;
    gap: 34px;
    align-items: center;
}

nav h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: #3A3A3A;
}

ul li{
    font-weight: 600;
    cursor: pointer;
}

ul li:hover{
    color: #E02C6D;
    transition: 0.3s;
}

.hero-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 155px;
    margin-bottom: 170px;
 /* border: 3px solid rgb(233, 11, 11); */

}

.hero-image{
    position: relative;
    display: flex;
    margin-right: 165px;
    margin-top: 50px;
}

.image1{
    width: 100%;
    height: auto;
}

.image2{
    position: absolute;
    padding: 10px;
}

.hero-contents h1{
    font-size: 3.25rem;
    color: #3A3A3A;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 16px;
}

.hero-contents p{
    color: #3A3A3A;
    width: 525px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding: 10px 30px 10px 24px;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.hero-btn:hover{
    background-color: #0A0826;
}

.sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
    padding: 50px;
    gap: 80px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 100px;
}

.card-section h3{
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 50px;
    color: #3A3A3A;
    font-weight: 600;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    gap: 20px;
    justify-content: center;
}

.card{
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    max-width: 329px;
    max-height: 476px;
    margin-bottom: 50px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

.desc{
    color: #787885;
    font-weight: bold;
    font-size: 0.875rem;
    margin-bottom: 5px;
}

.price{
    font-size: 1.25rem;
    color: #000000;
    margin-bottom: 5px;
    font-weight: 600;
}

.card svg{
    gap: 14px;
}

.card h4{
    font-size: 1.75rem;
    margin-bottom: 6px;
}
.rating{
    display: flex;
}

.rating p{
    font-size: 0.875rem;
    margin:1px;
    font-weight: bold;
    color: #5E6366;
}
.see{
    display: flex;
    align-items: center;
    margin-left: 1385px;
}

.see a{
    text-decoration: none;
    color: #E02C6D;
    font-weight: bold;
    margin-bottom: 50px;
}

.products-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    gap: 96px;
    margin-bottom: 100px;
}

.product-contents{
    margin: 0 auto;
}

.product-contents h3{
    font-size: 2.375rem;
    color: #0A0826;
    line-height: 60px;
    margin-bottom: 16px;
}
.product-contents p{
    color: #6C6C6C;
    max-width: 500px;
    font-weight: bold;
}
.product-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 36px 10px 24px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-bottom: 100px;
}

.product-btn:hover{
    background-color: #0A0826;
}

.footer{
    width: 100%;
    background-color:#0A0826;
    text-align: center;
}
.footer-container{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
}
.social-icons img {
  max-width: 150px; /* Adjust based on your actual image size */
  height: auto;
  cursor: pointer;
  margin-bottom: 50px;
}

/* responsive */
@media (max-width: 576px) {

    body, html {
        overflow-x: hidden;
        width: 100%;
    }

    .hero-container{
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .hero-image{
        flex-direction: column;
        margin: 0 auto;

        max-width: 257px;
    }
    .hero-contents{
        max-width: 404px;
    }
    .hero-btn:hover{
        background-color: #0A0826;
    }   
    .threedot{
        display: flex;
    }
    .cart{
        display: flex;
    }
    .image2{
        position: relative;
        padding: 5px;
        margin-top: -250px;
    }

    .hero-btn{
        display: flex;
        margin: 0 auto;

    }
    .hero-contents h1{
        font-size: 1.75rem;
        text-align: center;
        line-height: 40px;
    }

    .hero-contents p{
        width: 100%;
        text-align: center;
    }
    .nav-links{
        display: none;
    }

    .sponsors {
        display: flex;
        flex-wrap: wrap;         
        gap: 30px 40px;          
        padding: 40px 20px;
        border: none;
        box-shadow: none;
        margin-bottom: 50px;
    }

    .sponsors img {
        max-width: 55px;            
    }

    .card-container{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 32px;
    }

    .card{
        margin: 0 auto;
    }

    .price{
        font-weight: bold;
    }

    .see{
        display: flex;
        align-items: center;
        margin-left: 250px;
    }
    .products-container{
        flex-direction: column-reverse;
        gap: 30px;
        padding: 0 20px;
        text-align: center;
    }
    .product-contents {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers the button and heading horizontally */
    }
    .product-contents h3{
        max-width: 310px;
        color: #0A0826;
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .product-contents p {
        color: #6C6C6C;
        font-weight: bold;
        font-size: 0.93rem;
        margin-bottom: 24px;
        text-align: center;
    }
    .product-btn:hover{
        background-color: #0A0826;
    }
    .image img {
        max-width: 300px;
        height: auto;
    }
    .product-btn{
        margin: 0 auto;
    }
}


 